<br>
<br>
<br>
<div class="container" id="Kaart">
  <h1>Kaart</h1>
  <p>Welke landen bezocht de tok? Op de kaart is een overzicht te zien. Klik op een land en ontdek meer!</p>
  <button mat-icon-button color="primary" aria-label="Example icon button with a refresh icon">
    <mat-icon>refresh</mat-icon>
  </button>

  <button class="btn material-icons" (click)="zoomIn()">zoom_in</button>
  <button class="btn material-icons" (click)="zoomOut()">zoom_out</button>
  <button class="btn material-icons" (click)="resetZoom()">replay</button>
  <button class="btn material-icons" (click)="moveUp()">arrow_drop_up</button>
  <button class="btn material-icons" (click)="moveDown()">arrow_drop_down</button>
  <button class="btn material-icons" (click)="moveLeft()">arrow_left</button>
  <button class="btn material-icons" (click)="moveRight()">arrow_right</button>
</div>

<!--Load data-->
<mat-progress-bar *ngIf="!visitors" mode="indeterminate"></mat-progress-bar>

<div class="grid-container-map">

  <div class="grid-item-map">
    <object [@transformAnimation]="transformAnimationState" #mySvg id='map' data='./assets/img/map/World_map.svg'
      class="map-svg" type='image/svg+xml'></object>
  </div>



  <div *ngIf="OpenBrikboard" class="grid-item-map-data background-Prikbord">
    <button class="btn material-icons" (click)="zoomIn()">zoom_in</button>
    <button class="btn material-icons" (click)="zoomOut()">zoom_out</button>
    <button class="btn material-icons" (click)="resetZoom()">replay</button>
    <button class="btn red material-icons" (click)="closePBdata()">close</button>

    <div>Land: <span [innerHTML]="PbLand"></span><br>Bezoekers: <span [innerHTML]="PbNumbersVisit"></span>
    </div>
    <br><br>


    <div class="container">
      <div class="row">
        <!-- post -->
        <div class="col-12 col-sm-6" *ngFor="let PB_Element of aPrikboardList">
          <!-- Card -->
          <mdb-card *ngIf="PB_Element.name">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="http://localhost:3000/{{PB_Element.imgScr}}" alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>{{PB_Element.name}}</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                <p style="color: black;">
                  NAAM: {{PB_Element.name}} <br>
                  DATUM: {{PB_Element.date | date:"dd/MM/yy"}}
                </p>
              </mdb-card-text>

              <!--<a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
            </mdb-card-body>
          </mdb-card>
          <!-- Card -->
          <br>
        </div>
        <!-- einde -->
      </div>
    </div>
  </div>
</div>
