<br>
<br>
<p>
  <!-- #docregion toolbar-simple -->
  <mat-toolbar color="accent" class="z-depth-0">
    <span>Deelnemen</span>
  </mat-toolbar>
  <!-- #enddocregion toolbar-simple -->
</p>

<div class="container">
  <p>
    Heb jij ook een zot reisverhaal en heb
    je je tok in je valies gepropt? Het hoeft niet ver te zijn, een leuk verhaal bij je foto is meer dan genoeg! Wij
    horen het graag! Post je verhaal hier als de bliksem!
  </p>
  <p>
    Vind onze pagina ‘Onze Tok, de wereld rond’ op Facebook leuk en ontdek waar de tok al geweest is, de leukste foto’s
    en tofste plaatsen!
  </p>
  <br>
  <br>
  <br>
  <img src="./assets/img/Demo/deelnemers.jpg" class="img-fluid rounded mx-auto d-block" alt="deelnemers">

  <h1>Formulier</h1>
</div>

<!--<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>-->

<mat-horizontal-stepper linear #stepper>
  <!-- #docregion editable-->
  <mat-step [stepControl]="basisGevensDeelnemer" [editable]="isEditable">
    <!-- #enddocregion editable -->
    <form [formGroup]="basisGevensDeelnemer">
      <!-- #docregion step-label -->
      <ng-template matStepLabel>Basis gegevens</ng-template>
      <div class="container">
        <!-- #enddocregion step-label -->
        <p>
          Vul uw naam en emailadres in. klik vervolgens op de volgende.
        </p>
        <!--name-->
        <mat-form-field appearance="fill">
          <mat-label>Naam</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Vul uw emailadres in:</mat-label>
          <input matInput placeholder="tok@ksa.be" formControlName="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br><br>
        <!--Kies een bond-->
        <mat-form-field>
          <mat-label>Kies een bond</mat-label>
          <mat-select [formControl]="BondenServerSideCtrl" placeholder="{{Bond}}">
            <!--place ngx-mat-select-search inside mat-option to allow opening without initial selection-->
            <mat-option>
              <ngx-mat-select-search [formControl]="BondenServerSideFilteringCtrl" [searching]="searchingBonden"
                placeholderLabel="Bond zoeken..." noEntriesFoundLabel="'Geen bond gevonden'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let bonden of filteredServerSideBonden | async" [value]="bonden">
              {{bonden.code}} {{bonden.bond}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button matStepperNext color="primary" (click)="updateBond()">Volgende</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="CountrysServerSideCtrl" [editable]="isEditable">
    <form [formGroup]="CountrysServerSideCtrl">
      <ng-template matStepLabel>Kies een land</ng-template>
      <!--Kies een land-->
      <div class="container">
        <p>
          Kies het land uit de lijst die u bezocht hebt.
        </p>

        <!--Kies een land-->
        <mat-form-field>
          <mat-label>Kies een land</mat-label>
          <mat-select [formControl]="CountrysServerSideCtrl" placeholder="{{Country}}">
            <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
            <mat-option>
              <ngx-mat-select-search [formControl]="CountrysServerSideFilteringCtrl" [searching]="searchingCountrys"
                placeholderLabel="Land zoeken..." noEntriesFoundLabel="'Geen land gevonden'"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let country of filteredServerSideCounrtys | async" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <div>
          <button mat-raised-button matStepperPrevious color="primary">Terug</button>
          <button mat-raised-button matStepperNext color="primary">Volgende</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="bezoekGegevensDeelnemer" [editable]="isEditable">
    <form [formGroup]="bezoekGegevensDeelnemer">
      <ng-template matStepLabel>Bezoek gegevens</ng-template>
      <div class="container">
        <p>
          Hoe ver was u van huis? Wanneer is de foto genomen (bij benadering)?
        </p>
        <!--Afstand van huis-->
        <mat-form-field appearance="fill">
          <mat-label>Afstand van huis</mat-label>
          <input matInput formControlName="distance">
        </mat-form-field>
        <br>
        <br>

        <!--Datum -->
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="datum" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>

        <div>
          <button mat-raised-button matStepperPrevious color="primary">Terug</button>
          <button mat-raised-button matStepperNext color="primary">Volgende</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="afbeeldingDeelnemer" [editable]="isEditable">
    <form [formGroup]="afbeeldingDeelnemer">
      <ng-template matStepLabel>Upload afbeelding</ng-template>
      <div class="container">
        <p>
          Load uw foto op! Klik op "bladeren" en kies de foto. Klik vervolgens "upload foto".
        </p>
        <!--Upload file -->
        <input ngf type="file" accept="*" [(files)]="files" capturePaste="1" style="color: green;" />
        <button *ngIf="files" color="primary" (click)="uploadFiles(files)" mat-raised-button color="primary">upload
          foto</button>
        <br>
        <br>

        <ngfFormData [files]="files" [(FormData)]="myFormData" postName="file"></ngfFormData>

        <ngfUploadStatus [(percent)]="uploadPercent" [httpEvent]="httpEvent"></ngfUploadStatus>
        <br>
        <br>
        <!--Voorbeeld-->
        <!-- Card -->
        <div class="row" *ngIf="bSucceedUploadImage">
          <!-- post -->
          <div class="col-12 col-sm-4">
            <mdb-card *ngIf="!bFoutInFormulier">
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="{{afbeeldingDeelnemer.value.imgScr}}" alt="Afbeelding"></mdb-card-img>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>Voorbeeld</h4>
                </mdb-card-title>
                <!--Text-->
                <mdb-card-text></mdb-card-text>

              </mdb-card-body>
            </mdb-card>
          </div>
        </div>
        <!-- Card -->
        <br>
        <br>

        <div>
          <button mat-raised-button matStepperPrevious color="primary">Terug</button>
          <button mat-raised-button matStepperNext color="primary" *ngIf="bSucceedUploadImage">Volgende</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="doneDeelnemer" [editable]="isEditable">
    <form [formGroup]="doneDeelnemer">
      <ng-template matStepLabel>Opmerking</ng-template>
      <div class="container">
        <!--Opmerking -->
        <mat-form-field appearance="fill">
          <mat-label>opmerking</mat-label>
          <textarea matInput formControlName="opmerking"></textarea>
        </mat-form-field>
        <br>
        <br>
        <div>
          <button mat-raised-button matStepperPrevious color="primary">Terug</button>
          <button mat-raised-button matStepperNext color="primary">Volgende</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="container">

      <p>Afgewerkt! Klik op de knop om uw inzending te versturen!</p>
      <p *ngIf="bFoutInFormulier">Fout gevonden controleer volgede velden: {{sFoutInFormulier}}</p>

      <p>Uw gegevens: </p>
      <br>
      <br>
      <!--Voorbeeld-->
      <!-- Card -->
      <div class="row">
        <!-- post -->
        <div class="col-12 col-sm-4">
          <mdb-card *ngIf="!bFoutInFormulier">
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img src="{{afbeeldingDeelnemer.value.imgScr}}" alt="Afbeelding"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h3>{{basisGevensDeelnemer.value.name}}</h3>
                <h4>van: {{endResultBond.bond | json}}</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                LAND: {{CountrysServerSideCtrl.value}} <br>
                AFSTAND: {{bezoekGegevensDeelnemer.value.distance}} km <br>
                DATUM: {{bezoekGegevensDeelnemer.value.date | date:"dd/MM/yy"}}
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
      <!-- Card -->
      <br>
      <p>
        Zijn de bovenstaande gegevens correct? Klik dan op de knop Deelnemen. <br>
        Pas de gegevens aan door op terug te klikken.
      </p>
      <br>
      <a class="btn blue" color="primary" role="button" *ngIf="!done" (click)="opsturen()">Deelnemen</a>
      <br>
      <br>
      <div>
        <button mat-raised-button matStepperPrevious color="primary">Terug</button>
        <button mat-raised-button (click)="stepper.reset(); reset()" color="primary">Reset</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
