<br>
<br>
<p>
  <!-- #docregion toolbar-simple -->
  <mat-toolbar color="accent" class="z-depth-0">
    <span>Over ons</span>
  </mat-toolbar>
  <!-- #enddocregion toolbar-simple -->
</p>

<div class="container" id="LeesMeer">
    <h1>Het verhaal</h1>
    <p>
        Lang geleden, toen de dieren nog spraken, of ja, misschien ook niet zooo lang geleden...kwamen een aantal
        KSA'ers op een prachtig idee! Ze zouden onze tok de wereld rond laten reizen, samen met alle KSA'ers. De
        eerste foto die we hiervan konden terugvinden is er eentje uit 1976. Toen was de tok samen met Hans Redee
        (KSA'er van KSA Torhout) in Parijs.
    </p>
    <p>
        Wat later ging de mooie traditie helaas verloren, maar daar willen we nu heel erg graag verandering in
        brengen. Als iedereen meedoet kunnen we onze tok een fantastische wereldreis bezorgen.
    </p>
    <p>
        Post je foto hier, samen met de datum en de plaats waar je de foto hebt genomen of stuur ze naar
        info@ksanoordzeegouw.be
    </p>
    <p>
        Met dank aan KSA 's Gravenwinkel Torhout voor het prachtige idee en de foto!
    </p>
</div>

<app-volg-ons></app-volg-ons>

