<!--Dashboard-->
<mat-progress-bar *ngIf="!LoadData" mode="indeterminate"></mat-progress-bar>
<div class="container" id="TotaleAfstand">
  <br><br>
  <h1>Dashboard</h1>
  <div class="grid-container-home">
    <div class="grid-item-home"></div>
    <div class="grid-item-home">
      <!--Dashboard km teller-->
      <div class="grid-container-KM">
        <div class="grid-item-KM">
          <p id="km100000">{{data.z5}}</p>
        </div>
        <div class="grid-item-KM">
          <p id="km10000">{{data.z4}}</p>
        </div>
        <div class="grid-item-KM">
          <p id="km1000">{{data.z3}}</p>
        </div>
        <div class="grid-item-KM">
          <p id="km100">{{data.z2}}</p>
        </div>
        <div class="grid-item-KM">
          <p id="km10">{{data.z1}}</p>
        </div>
        <div class="grid-item-KM">
          <p id="km1">{{data.z}}</p>
        </div>
        <div class="grid-item-KM">
          <p>km</p>
        </div>
      </div>
    </div>

    <div class="grid-item-home"></div>
  </div>

  <p>De tok legt jaarlijk heel wat kilometers af. Op de kilometerteler is te zien hoeveel kilometer de tok totaal
    aflegde.</p>

  <p>Wenst u de afstand te zien van een ander jaar? Maak een keuze:</p>

  <div class="row" *ngIf="bShowSelection">
    <mat-form-field appearance="fill">
      <mat-label>Kies een jaartal</mat-label>
      <select matNativeControl (change)="selectYear($event)">
        <option *ngFor="let option of SelectYear" [value]="option">{{option}}</option>
      </select>
    </mat-form-field>

     <!--Kies een bond-->
     <mat-form-field>
      <mat-label>Kies een bond</mat-label>
      <mat-select [formControl]="BondenServerSideCtrl" placeholder="{{Bond}}" #selectBond>
        <!--place ngx-mat-select-search inside mat-option to allow opening without initial selection-->
        <mat-option>
          <ngx-mat-select-search [formControl]="BondenServerSideFilteringCtrl" [searching]="searchingBonden"
            placeholderLabel="Bond zoeken..." noEntriesFoundLabel="'Geen bond gevonden'"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let bonden of filteredServerSideBonden | async" [value]="bonden">
          {{bonden.code}} {{bonden.bond}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
</div>

<router-outlet></router-outlet>
