<br>
<br>
<div class="background-Prikbord">
  <p>
    <!-- #docregion toolbar-simple -->
    <mat-toolbar color="accent" class="z-depth-0">
      <span>Prikbord</span>
    </mat-toolbar>
    <!-- #enddocregion toolbar-simple -->
  </p>

  <div class="container">
    <div class="row">
      <!-- post -->
      <div class="col-12 col-sm-4" *ngFor="let PB_Element of data; let i = index">
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="{{PB_Element.imgScr}}" alt="Foto van {{PB_Element.name}} "></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h3>{{PB_Element.name}}</h3>
              <h4 *ngIf="PB_Element.bond.code !== 0">van: {{PB_Element.bond.bond}}</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>
              <p style="color: black;">
                LAND: {{PB_Element.countryTanslation}} <br>
                AFSTAND: {{PB_Element.distance}} <br>
                DATUM: {{PB_Element.date | date:"dd/MM/yy"}}
              </p>
            </mdb-card-text>

            <!--<a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>-->
          </mdb-card-body>
        </mdb-card>
        <!-- Card -->
        <br>
      </div>
      <!-- einde -->
    </div>
  </div>
</div>
