<br>
<br>
<br>

<div ng-controller="socialeMedia">
  <div class="container">
      <h1>Sociale media</h1>
  </div>

  <div class="container">

      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous"
          src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v6.0&appId=189202332362244&autoLogAppEvents=1">
      </script>

      <div class="fb-page" data-href="https://www.facebook.com/OnzeTokDeWereldRond/" data-tabs="timeline"
          data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/OnzeTokDeWereldRond/" class="fb-xfbml-parse-ignore"><a
                  href="https://www.facebook.com/OnzeTokDeWereldRond/">Onze tok, de wereld rond</a></blockquote>
      </div>
  </div>
</div>

