<br>
<br>
<p>
  <!-- #docregion toolbar-simple -->
  <mat-toolbar color="accent" class="z-depth-0">
    <span>Grafiek</span>
  </mat-toolbar>
  <!-- #enddocregion toolbar-simple -->
</p>

<div class="container">
  <p>De tok legt jaarlijk heel wat kilometers af. Op de grafiek is te zien hoeveel kilometer de tok per jaar aflegde.</p>
</div>

<div class="flex-item">
  <div style="display: block;">
    <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels "
      [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
      [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
