
<!-- Top bar -->
<mdb-navbar color="primary" SideClass="navbar navbar-expand-lg navbar-dark orange accent-3 ie-nav fixed-top" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href=""><strong>Onze Tok de wereld rond</strong></a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link"  [routerLink]="['/']" routerLinkActive="active" mat-button>Home</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link"  [routerLink]="['/Prikbord']" routerLinkActive="active" mat-button>Prikbord</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"  [routerLink]="['/Grafiek']" routerLinkActive="active" mat-button>Grafiek</a>
    </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link"  [routerLink]="['/TekenOnzeTok']" routerLinkActive="active" mat-button>TekenOnzeTok</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#" [routerLink]="['/Interviews']" routerLinkActive="active" mat-button>Interviews</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#" [routerLink]="['/OverOns']" routerLinkActive="active" mat-button>OverOns</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" href="#" [routerLink]="['/Deelnemen']" routerLinkActive="active" mat-button>Deelnemen</a>
      </li>
  </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
          </li>
      </ul>
  </links>
</mdb-navbar>


<!-- Main -->
<main>
  <div style="min-height:1500px;">
    
      <router-outlet></router-outlet>
   
    </div>
</main>



<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Onze tok de wereld rond</h5>
        <p> KSA Noordzeegouw vzw <br> Dwarsweg 1<br> 8560 Gullegem<br>
          <br> 056 40 48 12<br> info@ksanoordzeegouw.be</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-2">

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <h5 class="text-uppercase">Volg ons:</h5>

          <table width="200">

            <tbody>
              <tr>
                <td>
                  <a href="https://www.facebook.com/noordzeegouw/" target="new"><img src="./assets/img/fb.png"></a>
                </td>
                <td>
                  <a href=" https://www.instagram.com/ksanoordzeegouw" target="new"><img
                      src="./assets/img/instagram.png"></a>
                </td>
              </tr>
            </tbody>
          </table>

          <img src="./assets/img/LOGOKSA.png" width="90%">

        </div>

        
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Menu</h5>

          <ul class="list-unstyled">
            <li><a href="#" [routerLink]="['/']" mat-button>Home</a> </li>
            <li><a href="#" [routerLink]="['/kaart']" mat-button>Kaart</a> </li>
            <li><a href="#" [routerLink]="['/Prikbord']" mat-button>Prikbord</a> </li>
            <li><a href="#" [routerLink]="['/TekenOnzeTok']" mat-button>TekenOnzeTok</a> </li>
            <li><a href="#" [routerLink]="['/OverOns']" mat-button>OverOns</a> </li>
          </ul>

        </div>

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.ksa.be/werkkringen/ksa-noordzeegouw">KSA NZG WERKGROEP MULTIMEDIA</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->